<!-- 
    Includes content standard to the <head> section of an HTML5 web page.
    Source: https://github.com/h5bp/html5-boilerplate/blob/main/dist/index.html
-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/main.css">
    <meta name="description" content="{{ site.description }}">

    <!-- <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.image }}">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#fafafa"> -->
</head>